@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro)

body
  background-color: black
  color: white
    
  font-family: 'Source Code Pro', sans-serif
  font-size: 3em
  
@keyframes blink
  100%, 0%
    opacity: 1
  50%
    opacity: 0
  
.c
  margin-left: -20px
  animation: 0.75s blink infinite
  color: green
    
span, span:focus
  outline: 0px solid transparent
    
 
